<div class="card max-w-md mx-auto bg-white p-6 rounded-xl shadow">
  <h2 class="title text-xl font-bold mb-4">Registrar Incidencia</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Fecha de incidencia</label>
    <input type="date" formControlName="fechaIncidencia" class="input">
    <div class="error" *ngIf="form.get('fechaIncidencia')?.invalid && form.get('fechaIncidencia')?.touched">Campo obligatorio.</div>

    <label>Tipo de incidencia</label>
    <select formControlName="tipoIncidencia" class="input">
      <option value="">Seleccione...</option>
      <option value="Robo">Robo</option>
      <option value="Pérdida">Pérdida</option>
      <option value="Mal funcionamiento">Mal funcionamiento</option>
    </select>
    <div class="error" *ngIf="form.get('tipoIncidencia')?.invalid && form.get('tipoIncidencia')?.touched">Campo obligatorio.</div>

    <label>Estado</label>
    <select formControlName="estadoIncidencia" class="input">
      <option value="">Seleccione...</option>
      <option value="Abierta">Abierta</option>
      <option value="En revisión">En revisión</option>
      <option value="Cerrada">Cerrada</option>
    </select>
    <div class="error" *ngIf="form.get('estadoIncidencia')?.invalid && form.get('estadoIncidencia')?.touched">Campo obligatorio.</div>

    <label>Tarjeta (seleccione la tarjeta que tuvo la incidencia)</label>
    <select formControlName="cedulaCliente" class="input">
      <option value="">Seleccione...</option>
      <option *ngFor="let t of tarjetas" [value]="t.codigoUnico">{{ t.codigoUnico }} - {{ t.tipoTarjeta }} ({{ t.estado }})</option>
    </select>
    <div class="error" *ngIf="form.get('cedulaCliente')?.invalid && form.get('cedulaCliente')?.touched">Campo obligatorio.</div>

    <label>Comentarios</label>
    <textarea formControlName="comentarios" class="input"></textarea>

    <button type="submit" class="btn mt-4 w-full bg-blue-600 text-white rounded-lg py-2">Guardar</button>
  </form>


</div>
