<div class="dashboard" *ngIf="perfil">
  <h2>Bienvenido, {{ perfil?.nombre }}</h2>

  <div class="button-group">
    <button (click)="verMiPerfil()">👤 Ver mi perfil</button>
    <button *ngIf="isAdmin" (click)="registrarPerfil()">➕ Registrar nuevo perfil</button>
    <button *ngIf="isAdmin || canManageEmpleados" routerLink="/gestionar-empleados/registrar" class="btn btn-primary">
      🧑‍💼 Gestionar Empleados
    </button>
    <a *ngIf="canManageIncidencias" routerLink="/consultar-incidencia" class="btn btn-primary">🔎 Gestionar incidencias</a>
  </div>

  <div class="button-group">
    <a *ngIf="canManageTarjetas" routerLink="/tarjetas" class="btn btn-primary">💳 Gestionar Tarjetas</a>
    <a *ngIf="canManageVentas" routerLink="/ventas" class="btn btn-primary">🧾 Gestionar Ventas</a>
  </div>

  <!-- Contenedor para centrar el botón de cerrar sesión -->
  <div class="logout-container">
    <button (click)="logout()" class="logout">🚪 Cerrar sesión</button>
  </div>
</div>
