<div class="dashboard">
  <h2>Bienvenido, {{ perfil?.nombre }}</h2>
  <div class="button-group">
    <button (click)="verMiPerfil()">Ver mi perfil</button>
    <button *ngIf="perfil?.rol === 'admin'" (click)="registrarPerfil()">Registrar nuevo perfil</button>
    <button *ngIf="perfil?.gestionarEmpleados" (click)="router.navigate(['/gestionar-empleados'])">Gestionar empleados</button>
    <button (click)="logout()" class="logout">Cerrar sesión</button>
  </div>

  <div class="button-group">
    <a routerLink="/tarjetas" class="btn btn-primary">
      📋 Ver Tarjetas
    </a>
    <a routerLink="/tarjetas/nueva" class="btn btn-success">
      ➕ Registrar Tarjeta
    </a>
  </div>
  <div class="button-group">
    <a routerLink="/ventas" class="btn btn-primary">
      📊 Ver Ventas
    </a>
    <a routerLink="/ventas/nueva" class="btn btn-success">
      ➕ Registrar Venta
    </a>
  </div>


  <div class="empleado-links" *ngIf="perfil?.gestionarEmpleados">
    <a routerLink="/gestionar-empleados/registrar"></a>
    <a routerLink="/gestionar-empleados/listar"></a>
  </div>
</div>
