form {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}
th {
  background: #e3e3e3;
}
